+section._album
  +e.wrap
    +b.H1.title._size_l.__title
      | Фото строительства
    +e.SPAN.divider._blue
    +b.gallery
      +e.wrap
        +e.date
          | Январь 2016
        +e.UL.list
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 4. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 5. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 6. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 7. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 8. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 9. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 10. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 11. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 12. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 13. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
        +e.UL.results
          +e.LI.done
            | Произведена отделка в корпусе 5
          +e.LI.done
            | В корпусе 1А залили бетонное основание
          +e.LI.done
            | Получено разрешение на ввод в эксплуатацию первой очереди (ул. Ма лышева д. 1-5)
    +b.gallery
      +e.wrap
        +e.date
          | Декабрь 2015
        +e.UL.list
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 4. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 5. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 6. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 7. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 8. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 9. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 10. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 11. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 12. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
          +e.LI.item
            +e.A.thumbnail(href='img/pages/photo/bg-1.jpg' title='Корпус 13. Август 2016г.')
              +e.IMG.img(src='img/pages/photo/bg-1.jpg')
        +e.UL.results
          +e.LI.done
            | Произведена отделка в корпусе 5
          +e.LI.done
            | В корпусе 1А залили бетонное основание
          +e.LI.done
            | Получено разрешение на ввод в эксплуатацию первой очереди (ул. Ма лышева д. 1-5)
