+section._info
  +e.wrap
    +e.SPAN.divider._blue
    +b.apartment-features._info
      +e.left
        +e.item
          +e.text-block
            +e.text
              | 5 корпусов
            +e.divider._blue
          +e.IMG.img(src='img/icons/city.png')
        +e.item
          +e.text-block
            +e.text
              | Квартиры со свободной планировкой
            +e.divider._blue
          +e.IMG.img(src='img/icons/draft.png')
        +e.item
          +e.text-block
            +e.text
              | 2 лифта: грузовой и пассажирский
            +e.divider._blue
          +e.IMG.img(src='img/icons/lift.png')
      +e.right
        +e.item
          +e.IMG.img(src='img/icons/crane.png')
          +e.text-block
            +e.text
              | Панельные дома
            +e.divider._blue
        +e.item
          +e.IMG.img(src='img/icons/brush.png')
          +e.text-block
            +e.text
              | Квартиры с отделкой
            +e.divider._blue
    +e.text._size_m._info
      | Мы искренне считаем, что современный человек стремится к отличиям и самовыражению через жилье. Поэтому мы предлагаем кроме 50 вариантов планировок еще и редкие форматы квартир, которые ранее встречались только в элитной недвижимости. Выберите квартиру вашей мечты! Мы искренне считаем, что современный человек стремится к отличиям и самовыражению через жилье. Поэтому мы предлагаем кроме 50 вариантов планировок еще и редкие форматы квартир, которые ранее встречались только в элитной недвижимости. Выберите квартиру вашей мечты!Мы искренне считаем, что современный человек стремится к отличиям и самовыражению через жилье. Поэтому мы предлагаем кроме 50 вариантов планировок еще и редкие форматы квартир, которые ранее встречались только в элитной недвижимости. Выберите квартиру вашей мечты!
