+section._apartment
  +e.wrap
    +b.H1.title._size_l.__title
      | ЖК «Новые ватутинки центральный квартал» #[b это]:
    +e.SPAN.divider
    +b.apartment-features
      +e.left
        +e.item
          +e.text-block
            +e.text
              | Планировка квартиры зависит от этажа, но у вас точно будет балкон!
            +e.divider
          +e.IMG.img(src='img/icons/balcony.png')
        +e.item
          +e.text-block
            +e.text
              | Просторная парковка на 300 машиномест — вам обеспечены спокойные ночи
            +e.divider
          +e.IMG.img(src='img/icons/car.png')
      +e.right
        +e.item
          +e.IMG.img(src='img/icons/lift.png')
          +e.text-block
            +e.text
              | В каждой секциипо 2 лифта, грузовой и пассажирский
            +e.divider
        +e.item
          +e.IMG.img(src='img/icons/tree.png')
          +e.text-block
            +e.text
              | Безопасные детские площадки и собственный садик на придомовой территории
            +e.divider
    +b.A.button._theme_jk._size_m._view_action(href='')
      +e.SPAN.text
        | Узнать подробности
