+section._complex
  +e.wrap
    +b.H2.title._size_l.__title
      | О жилом комплексе
    +e.P.text._size_s._complex
      | ЖК "Видный город" называют светским пригородом Москвы. Проект представляет собой уникальный формат жилья, успешно совмещающий отдельные элементы бизнес-класса и премиального сегмента. При этом бюджет покупки квартиры соответствует уровню "эконом". Среди характерных особенностей нового жилого квартала - уникальная авторская архитектура, 50 ультрасовременных планировочных решений, редкие форматы квартир, подземные паркинги, собственная терасная площадь и полноценная инфраструктура. В ЖК "Видный город" цены являются доступными.
    +e.button-block
      +button('icon')._theme_jk._size_m._view_action
        +b.SPAN.icon._video
        +e.SPAN.text
          | Видео-тур
      +button('icon')._theme_jk._size_m._view_action
        +b.SPAN.icon._doc
        +e.SPAN.text
        | Презентация
      +button._theme_jk._size_m._view_action
        | Подробнее о проекте
