.map {
  margin-top: 20px;
  position: relative;
  &__routes {
    position: absolute;
    z-index: 9999;
    top: 30%;
    right: 22px;
    max-width: 362px;
  }
  &__address {
    width: 70%;
  }
}
