/*---------- Project Features ----------*/
.project-features {
  margin: 20px auto 0;
  max-width: 760px;

  &__col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 44%;
  }
  &__num {
    position: relative;
    width: 90px;
    height: 90px;
    color: #000;
    letter-spacing: 0.025em;
    font-size: 34px;
    font-family: 'PFDinTextPro-Thin';
    line-height: 90px;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -45px;
      margin-left: -45px;
      width: 100%;
      height: 100%;
      border: 1px solid $blue;
      border-radius: 100%;
      content: '';
    }
  }
  &__text-block {
    width: 62%;
  }
  &__text {
    margin-bottom: 9px;
    color: #000;
    text-align: left;
    letter-spacing: 0.025em;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    line-height: 18px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    background: $blue;
  }
}

/*---------- Infrastructure ----------*/
.infrastructure {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px auto 0;
    padding-left: 0;
    max-width: 1110px;
    list-style-type: none;
  }
  &__item {
    margin-bottom: 20px;
  }
}

.card {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  width: 262px;
  height: 262px;
  border: 1px solid #fff;

  &_has_popup {
    cursor: pointer;

    &::before {
      position: absolute;
      top: 14px;
      right: 15px;
      width: 39px;
      height: 28px;
      background-image: url('../img/icons/camera.png');
      background-repeat: no-repeat;
      content: '';
    }
    &:hover {
      .card__content {
        opacity: 0;
      }
      .card__thumb {
        opacity: 1;
      }
      .card__thumb-caption {
        bottom: 0;
      }
    }
  }
  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url('../img/pages/project/bg-3.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    opacity: 0;
    transition: opacity 0.3s;

    &-caption {
      position: absolute;
      bottom: -43px;
      left: 0;
      width: 100%;
      height: 43px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-size: 18px;
      font-family: 'PFDinTextPro-Light';
      line-height: 43px;
      transition: bottom 0.3s linear;
    }
    &-overlay {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.28);
    }
    &-icon {
      @include centerer;
    }
  }
  &__content {
    padding-top: 32px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  &__title,
  &__description {
    color: #fff;
    text-align: center;
    letter-spacing: 0.025em;
    font-size: 18px;
    font-family: 'PFDinTextPro-Thin';
  }
  &__title {
    display: block;
    margin-top: 9px;
    text-transform: uppercase;
  }
  &__description {
    margin-top: 8px;
  }
  &__img {
    display: inline-block;
    height: 80px;
    background-repeat: no-repeat;

    &_baby {
      width: 67px;
      background-image: url('../img/icons/baby.png');
    }
    &_hat {
      width: 98px;
      background-image: url('../img/icons/hat.png');
    }
    &_shop {
      width: 69px;
      background-image: url('../img/icons/shop.png');
    }
    &_medicine-chest {
      width: 63px;
      background-image: url('../img/icons/medicine-chest.png');
    }
    &_swimming-pool {
      width: 94px;
      background-image: url('../img/icons/swimming-pool.png');
    }
    &_clinic {
      width: 67px;
      background-image: url('../img/icons/baby.png');
    }
    &_mug {
      width: 74px;
      background-image: url('../img/icons/mug.png');
    }
    &_forest {
      width: 79px;
      background-image: url('../img/icons/forest.png');
    }
  }
}

/*---------- Communication ----------*/
.communication-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto 8px;
  max-width: 980px;

  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    width: 440px;
  }
  &__left {
    align-items: flex-end;
    text-align: right;

    .communication-features__text-block {
      margin-right: 34px;
    }
  }
  &__right {
    align-items: flex-start;
    text-align: left;

    .communication-features__text-block {
      margin-left: 34px;
    }
  }
  &__img {

  }
  &__text,
  &__title {
    color: #494949;
    letter-spacing: 0.025em;
    font-size: 18px;
  }
  &__title {
    text-transform: uppercase;
    font-family: 'PFDinTextPro-Regular';
  }
  &__text {
    font-family: 'PFDinTextPro-Thin';
  }
  &__text-block {
    margin-bottom: 14px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 17px;
    }
  }
  &__divider {
    display: inline-block;
    width: 216px;
    height: 2px;
    background: #ffc300;
  }
}

/*---------- Documentation ----------*/
.docs {
  display: flex;
  justify-content: space-around;

  &__col {
    &:first-child {
      max-width: 390px;
    }
    &:nth-child(2) {
      max-width: 320px;
    }
    &:nth-child(3) {
      max-width: 285px;
    }
  }
  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'PFDinTextPro-Regular';
    line-height: 33px;
  }
  &__files {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__file.link_theme_jk {
    display: block;
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    line-height: 33px;
  }
}

.placemark-filter {
  @include centerer(true, false);
  bottom: 60px;
  &__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }
  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #959595;
    &_checked {
      background-color: #6d6d6d;
    }
  }
  &__place {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;

    &_kindergarten {
      width: 37px;
      background-image: url('../img/icons/baby.png');
    }
    &_school {
      width: 46px;
      background-image: url('../img/icons/hat.png');
    }
    &_shop {
      width: 35px;
      background-image: url('../img/icons/shop.png');
    }
    &_pharmacy {
      width: 35px;
      background-image: url('../img/icons/medicine-chest.png');
    }
    &_swimming-pool {
      width: 35px;
      background-image: url('../img/icons/swimming-pool.png');
    }
    &_clinic {
      width: 35px;
      background-image: url('../img/icons/baby.png');
    }
    &_cafe {
      width: 35px;
      background-image: url('../img/icons/mug.png');
    }
    &_park {
      width: 35px;
      background-image: url('../img/icons/forest.png');
    }
  }
}
