+section._apartment
  +e.wrap
    +e.H1.title
      | ЖК «Новые ватутинки центральный квартал» #[b это]:
    +e.SPAN.divider
    include ../components/apartment-features/apartment-features
    +button._theme_jk._size_m
      | Узнать подробности
