+section._deals
  +e.wrap
    +e.H1.title._v2
      | Лучшие предложения
    +b.plans
      +e.item
        +e.IMG.img(src='img/pages/home/plan-1.png')
        +e.type
          | Студия,
        +e.square
          | 23,5 #[span кв.м]
        +e.price
          | #[span от] 2 560 000 #[span руб.]
      +e.item
        +e.IMG.img(src='img/pages/home/plan-2.png')
        +e.type
          | 1-комнатная,
        +e.square
          | 123,5 #[span кв.м]
        +e.price
          | #[span от] 18 560 000 #[span руб.]
      +e.item
        +e.IMG.img(src='img/pages/home/plan-3.png')
        +e.type
          | Участок,
        +e.square
          | 15,4 #[span сот]
        +e.price
          | #[span от] 600 000 #[span руб.]
    +button._theme_jk._size_m._view_secondary
      | Больше квартир
    +b.mortgage
      +e.item
        +e.IMG.img(src='img/icons/mother.png')
        +e.title
          | Материнский капитал
      +e.item
        +e.IMG.img(src='img/icons/policeman.png')
        +e.title
          | Военная ипотека
