include ../components/slider/slider

+b.SECTION.hero
  +e.wrap
    +slider().owl-carousel.owl-theme
      +e.slide
        +e.img
          +e.text
            +e.H1.title
              | Все для комфорта
            +e.divider
            +e.P.subtitle
              | Магазины, фитнес-центр и парк в пешей доступности
          include ../components/tooltip/tooltip
      +e.slide
        +e.img
          +e.text
            +e.H1.title
              | Все для комфорта
            +e.divider
            +e.P.subtitle
              | Магазины, фитнес-центр и парк в пешей доступности
          include ../components/tooltip/tooltip
      +e.slide
        +e.img
          +e.text
            +e.H1.title
              | Все для комфорта
            +e.divider
            +e.P.subtitle
              | Магазины, фитнес-центр и парк в пешей доступности
          include ../components/tooltip/tooltip
