+section._content
  +e.wrap
    +e.container
      +b.H1.title._size_l.__title
        | Текстовая страничка
      +e.SPAN.divider._blue
      +b.H2.subtitle._size_m
        | Подзаголовок
      +e.content
        +b.A.thumbnail._border._left(href='img/pages/text/bg-1.jpg')
          +e.IMG.img(src='img/pages/text/bg-1.jpg')
        +e.P.text._size_s._left
          | Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов и подниматься на уникальную террасную городскую площадь, где вечерами гуляют и общаются, водить детей в школу, которая с ранних лет воспитывает в них вкус к прекрасному.Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов.
        +e.P.text._size_s._left
          | Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов и подниматься на уникальную террасную городскую площадь, где  ароматом цветущих фруктовых садов.
      +b.H2.subtitle._size_m
        | Подзаголовок
      +e.content
        +b.A.thumbnail._border._right(href='img/pages/text/bg-1.jpg')
          +e.IMG.img(src='img/pages/text/bg-1.jpg')
        +e.P.text._size_s._left
          | Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов и подниматься на уникальную террасную городскую площадь, где вечерами гуляют и общаются, водить детей в школу, которая с ранних лет воспитывает в них вкус к прекрасному.Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов.
        +e.P.text._size_s._left
          | Всего в 15 минутах от столицы можно жить как в красивейших пригородах Парижа или Санкт-Петербурга. Выходить из дома прекрасной классической архитектуры, любуясь целым ансамблем архитектурных шедевров. Гулять по красивым регулярным паркам, наполненным красивыми растениями и скульптурами, дышать ароматом цветущих фруктовых садов и подниматься на уникальную террасную городскую площадь, где  ароматом цветущих фруктовых садов.
