mixin icon(iconName, isBlock)
  if isBlock
    +b('svg')&attributes(attributes)
      use(xlink:href='/img/icons/sprite/sprite.svg##{iconName}')
  else
    +e('svg')&attributes(attributes)
      use(xlink:href='/img/icons/sprite/sprite.svg##{iconName}')
