+section._about-project
  +e.wrap
    +b.H1.title._size_l.__title
      | О проекте
    +e.SPAN.divider._blue
    +b.project-features
      +e.col
        +e.item
          +e.num
            | 3,5
          +e.text-block
            +e.text
              | млн. руб. - минимальная цена
            +e.divider
        +e.item
          +e.num
            | 23,5
          +e.text-block
            +e.text
              | кв. м. - минимальная площадь квартиры
            +e.divider
      +e.col
        +e.item
          +e.num
            | 143
          +e.text-block
            +e.text
              | га площадь застройки
            +e.divider
        +e.item
          +e.num
            | 18
          +e.text-block
            +e.text
              |  вариантов планировок
            +e.divider
