+section._communication
  +e.wrap
    +b.H2.title._size_m.__title
      | Коммуникации
    +e.SPAN.divider
    +b.communication-features
      +e.left
        +e.item
          +e.text-block
            +e.title
              | Автономная котельная
            +e.text
              | 15м. от центрального входа
            +e.divider
          +e.IMG.img(src='img/icons/boiler-room.png')
        +e.item
          +e.text-block
            +e.title
              | Собственное РТП
            +e.text
              | 15м. от центрального входа
            +e.divider
          +e.IMG.img(src='img/icons/transformer.png')
        +e.item
          +e.text-block
            +e.title
              | Распределительное устройство
            +e.text
              | 15м. от центрального входа
            +e.divider
          +e.IMG.img(src='img/icons/lamp.png')
      +e.right
        +e.item
          +e.IMG.img(src='img/icons/water-drop.png')
          +e.text-block
            +e.title
              | Автономный водозабор
            +e.text
              | 15м. от центрального входа
            +e.divider
        +e.item
          +e.IMG.img(src='img/icons/radiator.png')
          +e.text-block
            +e.title
              | Индивидуальный тепловой пункт
            +e.text
              | 15м. от центрального входа
            +e.divider
        +e.item
          +e.IMG.img(src='img/icons/extinguisher.png')
          +e.text-block
            +e.title
              | Автономное пожаротушение
            +e.text
              | 15м. от центрального входа территории
            +e.divider
