+section._documentation
  +e.wrap
    +b.H2.title._size_m._v2.__title
      | Проектная документация
    +b.docs
      +e.col
        +e.title
          | Проектная документация
        +e.files
          +link('Корпус 1 (PDF, 1.4 Mb)', '', 'true')(download).__file
          +link('Корпус 2 (PDF, 1.4 Mb)', '', 'true')(download).__file
          +link('Корпус 3 (PDF, 1.4 Mb)', '', 'true')(download).__file
          +link('Корпус 4 (PDF, 1.4 Mb)', '', 'true')(download).__file
          +link('Корпус 5 (PDF, 1.4 Mb)', '', 'true')(download).__file
          +link('Корпус 6 (PDF, 1.4 Mb)', '', 'true')(download).__file
      +e.col
        +e.title
          | Технические условия
        +e.files
          +link('ТУ на подключение электричества', '', 'true')(download).__file
          +link('ТУ на подключение газа', '', 'true')(download).__file
      +e.col
        +e.title
          | Другое
        +e.files
          +link('Разрешение на строительство', '', 'true')(download).__file
