+section._infrastructure
  +e.wrap
    +b.H2.title._size_m._v2.__title
      | Инфраструктура
    +e.SPAN.divider._white
    +b.infrastructure
      +e.UL.list
        +e.LI.item
          +b.card
            +e.content
              +e.img._baby
              +e.text-block
                +e.SPAN.title
                  | Детский сад
                +e.P.description
                  | Внимательный персонал и высокий уровень дошкольной подготовки
        +e.LI.item
          +b.card._has_popup
            +e.wrap
              +e.content
                +e.img._hat
                +e.text-block
                  +e.SPAN.title
                    | Школа
                  +e.P.description
                    | Возможность получать качественное образование
              +e.A.thumb(href='img/pages/project/bg-2.jpg' title='школа')
                +e.thumb-caption
                  | Школа
        +e.LI.item
          +b.card
            +e.content
              +e.img._shop
              +e.text-block
                +e.SPAN.title
                  | Магазин "Магнит"
                +e.P.description
                  | Широкий ассортимент товаров по низким ценам
        +e.LI.item
          +b.card
            +e.content
              +e.img._medicine-chest
              +e.text-block
                +e.SPAN.title
                  | Аптека
                +e.P.description
                  | В шаговой доступности
        +e.LI.item
          +b.card
            +e.content
              +e.img._swimming-pool
              +e.text-block
                +e.SPAN.title
                  | Бассейн
                +e.P.description
                  | В шаговой доступности
        +e.LI.item
          +b.card._has_popup
            +e.content
              +e.img._clinic
              +e.text-block
                +e.SPAN.title
                  | Поликлиника
                +e.P.description
                  | Возможность получать качественное образование
            +e.A.thumb(href='img/pages/project/bg-2.jpg')
        +e.LI.item
          +b.card._has_popup
            +e.content
              +e.img._mug
              +e.text-block
                +e.SPAN.title
                  | Кафе
                +e.P.description
                  | Несколько кафе в различной ценовой категории
            +e.A.thumb(href='img/pages/project/bg-2.jpg')
        +e.LI.item
          +b.card
            +e.content
              +e.img._forest
              +e.text-block
                +e.SPAN.title
                  | Лесопарковая зона
                +e.P.description
                  | Чистый воздух всегда рядом.
