+section._infrastructure
  +e.blocks
    +e.wrap
      +e.inner
        +button('button')._theme_jk._size_m._view_secondary._map#btnMap
          | На карте
        +b.H2.title._size_m._v2.__title
          | Инфраструктура
        +e.SPAN.divider._white
        +b.infrastructure
          +e.UL.list
            +e.LI.item
              +b.card
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/baby.png')
                    +e.text-block
                      +e.SPAN.title
                        | Детский сад
                      +e.P.description
                        | Внимательный персонал и высокий уровень дошкольной подготовки
            +e.LI.item
              +b.card._has_popup
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/hat.png')
                    +e.text-block
                      +e.SPAN.title
                        | Школа
                      +e.P.description
                        | Возможность получать качественное образование
                  +e.A.thumb(href='img/pages/project/bg-3.jpg' title='Школа')
                    +b.icon._magnifier.__thumb-icon
                    +e.DIV.thumb-caption
                      | Школа
                    +e.DIV.thumb-overlay
            +e.LI.item
              +b.card
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/shop.png')
                    +e.text-block
                      +e.SPAN.title
                        | Магазин "Магнит"
                      +e.P.description
                        | Широкий ассортимент товаров по низким ценам
            +e.LI.item
              +b.card
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/medicine-chest.png')
                    +e.text-block
                      +e.SPAN.title
                        | Аптека
                      +e.P.description
                        | В шаговой доступности
            +e.LI.item
              +b.card
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/swimming-pool.png')
                    +e.text-block
                      +e.SPAN.title
                        | Бассейн
                      +e.P.description
                        | В шаговой доступности
            +e.LI.item
              +b.card._has_popup
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/baby.png')
                    +e.text-block
                      +e.SPAN.title
                        | Поликлиника
                      +e.P.description
                        | Возможность получать качественное образование
                  +e.A.thumb(href='img/pages/project/bg-3.jpg' title='Поликлиника')
                    +b.icon._magnifier.__thumb-icon
                    +e.DIV.thumb-caption
                      | Поликлиника
                    +e.DIV.thumb-overlay
            +e.LI.item
              +b.card._has_popup
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/mug.png')
                    +e.text-block
                      +e.SPAN.title
                        | Кафе
                      +e.P.description
                        | Несколько кафе в различной ценовой категории
                  +e.A.thumb(href='img/pages/project/bg-3.jpg' title='Кафе')
                    +b.icon._magnifier.__thumb-icon
                    +e.DIV.thumb-caption
                      | Кафе
                    +e.DIV.thumb-overlay
            +e.LI.item
              +b.card
                +e.wrap
                  +e.content
                    +e.img
                      +e.IMG(src='img/icons/forest.png')
                    +e.text-block
                      +e.SPAN.title
                        | Лесопарковая зона
                      +e.P.description
                        | Чистый воздух всегда рядом.
  +e.map
    +e.wrap
      +e.inner
        +button('button')._theme_jk._size_m._block#btnBlock
          | Блоками
        +b.placemark-filter
          +e.UL.list
            +e.LI.item
              +e.count
              +e.place._kindergarten
            +e.LI.item
              +e.count
              +e.place._school
            +e.LI.item
              +e.count
              +e.place._shop
            +e.LI.item
              +e.count
              +e.place._pharmacy
            +e.LI.item
              +e.count
              +e.place._swimming-pool
            +e.LI.item
              +e.count
              +e.place._clinic
            +e.LI.item
              +e.count
              +e.place._cafe
            +e.LI.item
              +e.count
              +e.place._park
