extends ../components/layout/layout
block head
  - var pageTitle = 'Квартира';
  - var pageDescription = ''
block content
  +b.page._apartment
    include ../components/header/header
    include ../components/section/section
    include ../components/button/button
    +e.MAIN.content
      include ../sections/apartment/tth
    include ../components/footer/footer
