extends ../components/layout/layout
block head
  - var pageTitle = 'Главная';
  - var pageDescription = ''
block content
  +b.page._index
    include ../components/header/header
    +e.MAIN.content
      include ../sections/hero
    include ../components/footer/footer
