extends ../components/layout/layout
block head
  - var pageTitle = 'Главная';
  - var pageDescription = ''
block content
  +b.page._index
    include ../components/header/header
    include ../components/section/section
    include ../components/button/button
    +e.MAIN.content
      include ../sections/hero
      include ../sections/apartment
      include ../sections/deals
      include ../sections/complex
    include ../components/footer/footer
