extends ../components/layout/layout
block head
  - var pageTitle = 'О проекте';
  - var pageDescription = ''
block content
  +b.page._project
    include ../components/header/header
    include ../components/section/section
    include ../components/button/button
    +e.MAIN.content
      include ../sections/project/about-project
      include ../sections/project/infrastructure
    include ../components/footer/footer
