.apartment-features {
  margin: 24px auto 8px;
  display: flex;
  max-width: 980px;
  justify-content: space-between;
  align-items: center;
  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    width: 440px;
  }
  &__left {
    text-align: right;
    align-items: flex-end;
    .apartment-features__text-block {
      margin-right: 34px;
    }
  }
  &__right {
    text-align: left;
    align-items: flex-start;
    .apartment-features__text-block {
      margin-left: 34px;
    }
  }
  &__img {

  }
  &__text {
    color: #494949;
    font-size: 18px;
    font-family: 'PFDinTextPro-Thin';
    letter-spacing: 0.025em;
  }
  &__text-block {
    margin-bottom: 14px;
  }
  &__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    &:last-child {
      margin-bottom: 17px;
    }
  }
  &__divider {
    display: inline-block;
    background: #ffc300;
    width: 164px;
    height: 2px;
  }
}
