.button {
  touch-action: manipulation;

  &_theme_jk {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 1px solid #0093da;
    border-radius: 100px;
    background-color: #fff;
    color: #0093da;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0.025em;
    font-weight: 400;
    font-style: normal;
  	font-stretch: normal;
    font-family: 'PFDinTextPro-Thin';
    opacity: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.button_block {
      border-color: #000;
      background-color: rgba(255, 255, 255, 0.43);
      color: #3a3a3a;
      font-size: 20px;
      font-family: 'PFDinTextPro-Light';
    }
    &.button_map.button_size_m {
      top: 5px;
      right: 87px;
    }
    &.button_block.button_size_m {
      top: 22px;
      right: 87px;
    }
    &.button_map.button_size_m,
    &.button_block.button_size_m {
      position: absolute;

      .button__text {
        min-width: 130px;
        text-transform: uppercase;
      }
    }
    &.button_type {
      &_link {

      }
      &_submit {

      }
    }
    &.button_size {
      &_s {
        font-size: 1.4rem;

        .button__text {

        }
      }
      &_m {
        font-size: 1.8rem;

        .button__text {
          margin: 10px 20px;
          min-width: 210px;
        }
      }
    }
    &.button_view {
      &_pseudo {
        overflow: hidden;
        background: none;
      }
      &_action {
        &:hover {
          background: #0093da;
          color: #fff;

          .icon {
            &_video {
              background-image: url('../img/icons/player-white.png');
            }
            &_doc {
              background-image: url('../img/icons/doc-white.png');
            }
          }
        }
      }
      &_blue {
        border-color: $blue;
        background: transparent;
        color: #3a3a3a;

        .button__text {
          min-width: 124px;
        }
      }
      &_plain {
        border-color: #3a3a3a;
        background: transparent;
        color: #3a3a3a;

        .button__text {
          margin: 7px 24px;
          min-width: auto;
        }
      }
      &_primary.button_size_m {
        background: #0093da;
        color: #fff;

        .button__text {
          margin: 7px 16px;
          min-width: auto;
        }
      }
      &_secondary {
        border-color: #fff;
        background-color: transparent;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: #3a3a3a;
        }
      }
      &_discount {
        border-color: #3a3a3a;
        background-color: transparent;
        color: #3a3a3a;

        .button__content {
          margin: 4px 32px;

          .button__count {
            vertical-align: middle;
          }
          .button__count + .button__text {
            margin: 0;
            max-width: 125px;
            vertical-align: middle;
            white-space: pre-wrap;
          }
        }
        .button__text {
          margin: 18px 32px;
          text-transform: uppercase;
        }
        .button__count {
          display: inline-block;
          margin-right: 6px;
          font-size: 34px;
          font-family: 'PFDinTextPro-Medium';
        }
      }
      &_tag {
        margin-right: 9px;
        margin-bottom: 9px;
        color: #3a3a3a;

        .button__text {
          margin: 8px 34px;
          min-width: auto;
        }
      }
    }
    &.button_disabled {
      opacity: 0.75;

      .button__text {
        opacity: 0.5;
      }
    }
    &.button_icon {
      width: 250px;

      .button__text {
        margin: 10px 4px 10px 20px;
        min-width: 0;
      }
    }
    .button__text {
      position: relative;
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      vertical-align: middle;
      text-overflow: ellipsis;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
