.button {
  touch-action: manipulation;

  &_theme_jk {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 1px solid #0093da;
    border-radius: 100px;
    background-color: #fff;
    color: #0093da;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 0.025em;
    font-style: normal;
  	font-stretch: normal;
    font-family: 'PFDinTextPro-Thin';
    opacity: 1;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.button_type {
      &_link {

      }
      &_submit {

      }
    }
    &.button_size {
      &_s {
        .button__text {

        }
      }
      &_m {
        font-size: 1.8rem;
        .button__text {
          min-width: 210px;
          margin: 10px 20px;
        }
      }
    }
    &.button_view {
      &_pseudo {
        overflow: hidden;
        background: none;
      }
      &_action {
        &:hover {
          background: #0093da;
          color: #fff;
        }
      }
      &_secondary {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: #3a3a3a;
        }
      }
      &_mult {
        color: #000;
        border-color: #000;
        .part {
          color: #0093da;
        }
      }
    }
    &.button_disabled {
      opacity: 0.75;

      .button__text {
        opacity: 0.5;
      }
    }
    .button__text {
      position: relative;
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      text-overflow: ellipsis;
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    .button__img {
      display: inline-block;
      &_video {
        background-image: url('../img/icons/player.png');
        background-repeat: no-repeat;
        width: 33px;
        height: 28px;
      }
      &_pdf {
        background-image: url('../img/icons/pdf.png');
        background-repeat: no-repeat;
        width: 26px;
        height: 24px;
      }
    }
  }
  &_icon {

  }
}
