.contacts {
  align-items: center;
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__info {
    display: inline-block;
    vertical-align: top;
  }
  &__tel {
    margin-top: 2px;
    color: #3a3a3a;
    text-decoration: none;
    letter-spacing: 0.025em;
    font-size: 22px;
    font-family: 'PFDinTextPro-Regular';
  }
  &__schedule {
    color: #3a3a3a;
    letter-spacing: 0.025em;
    font-size: 14px;
    font-family: 'PFDinTextPro-Light';
  }
  &__phone {
    display: inline-block;
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background: #0093da;
    text-align: center;
    line-height: 47px;
  }
}
