.plans {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 30px;
  max-width: 880px;

  &__type,
  &__square,
  &__price {
    color: #fff;
    letter-spacing: 0.055em;
  }
  &__type {
    font-size: 24px;
    font-family: 'PFDinTextPro-Thin';
  }
  &__square {
    font-size: 25px;
    font-family: 'PFDinTextPro-Light';

    span {
      font-size: 24px;
      font-family: 'PFDinTextPro-Thin';
    }
  }
  &__price {
    font-size: 30px;
    font-family: 'PFDinTextPro-Regular';

    span {
      font-size: 20px;
      font-family: 'PFDinTextPro-Thin';

      &:first-child {
        margin-right: -5px;
      }
    }
  }
}

.mortgage {
  display: flex;
  width: 360px;
  margin: 30px auto 0 auto;

  &__item {
    margin-right: auto;
    margin-left: auto;
  }
  &__title {
    margin-top: 19px;
    max-width: 120px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'PFDinTextPro-Light';
  }
}
