.link {
  cursor: pointer;
  text-decoration: none;
  outline: 0;

  &_type_block {
    -webkit-tap-highlight-color: transparent;
  }

  &_theme_jk {
    color: #0093da;
    font-family: 'PFDinTextPro-Regular';
  }

  &_size {
    &_s {

    }
    &_m {
      font-size: 1.8rem;
      letter-spacing: 0.025em;
    }
    &_l {

    }
  }
}
