.link {
  cursor: pointer;
  text-decoration: none;
  outline: 0;

  &_type_block {
    -webkit-tap-highlight-color: transparent;
  }

  &_theme_feedly {
    color: #333;
  }

  &_size {
    &_s {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
}
