.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 21px 0 0 0;
  padding-left: 0;
  width: 100%;
  list-style-type: none;

  &__item {

  }
  &__link {
    color: #3a3a3a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 14px;
    font-family: 'PFDinTextPro-Light';
  }
}
