.navbar {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 17px 0 12px;

  &__left,
  &__center,
  &__right {
    display: flex;
    height: 100%;
  }
  &__left {
    align-items: center;
    justify-content: space-between;
    width: 260px;
  }
  &__center {
    width: 528px;
  }
  &__right {
    width: 246px;
  }
  &__title {
    max-width: 196px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 17px;
    font-family: 'PFDinTextPro-Light';
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    width: 100%;
    text-align: right;
  }
  &__tel {
    margin-top: 2px;
    color: #3a3a3a;
    text-decoration: none;
    letter-spacing: 0.025em;
    font-size: 22px;
    font-family: 'PFDinTextPro-Regular';
  }
  &__schedule {
    color: #3a3a3a;
    letter-spacing: 0.025em;
    font-size: 14px;
    font-family: 'PFDinTextPro-Light';
  }
  &__call {
    display: inline-block;
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background: #0093da;
    text-align: center;
    line-height: 47px;
  }

}
