.social-share {
  max-width: 200px;
  &__title {
    font-family: 'PFDinTextPro-Regular';
    color: #0093da;
    font-size: 18px;
    letter-spacing: 0.055em;
    color: #0093da;
  }
}

.ya-share2 {
  &__list {
    margin: 5px 0 25px !important;
  }
  &__item {
    margin: 0 0 0 3px !important;
    &:first-child {
      margin-left: 0 !important;
    }
  }
  &__badge {
    border-radius: 100% !important;
    background: #9e9e9e !important;
    line-height: 30px !important;
    transition: 0.3s ease;
    width: 30px;
    height: 30px;
    text-align: center;

    &:hover {
      transform: scale(1.1);

      &::after {
        transform: scale(0);
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: #9b9b9b;
      content: '';
      transition: ease 0.3s;
      transform: scale(0.95);
    }
  }
  .ya-share2__container_size_m {
    .ya-share2__icon {
      position: relative;
      z-index: 1;
      background-size: contain;
      vertical-align: middle;
    }
    .ya-share2__item_service_facebook {
      .ya-share2__icon {
        // width: 8px;
        // height: 13px;
        // background: url('../img/icons/socials/facebook.svg') no-repeat;
      }
      .ya-share2__badge:hover {
        .ya-share2__icon {
          // background: url('../img/icons/socials/facebook-hover.svg') no-repeat;
        }
      }
    }
    .ya-share2__item_service_vkontakte {
      .ya-share2__icon {
        // width: 14px;
        // height: 8px;
        // background: url('../img/icons/socials/vk.svg') no-repeat;
      }
      .ya-share2__badge:hover {
        .ya-share2__icon {
          // background: url('../img/icons/socials/vk-hover.svg') no-repeat;
        }
      }
    }
  }
}
