.tabs {
  border: 1px solid #26a1d2;

  &__wrap {
    margin: 6px;
    padding: 20px 18px;
    background: rgba(255, 255, 255, 0.8);
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__list {
    width: 110px;
    margin: 0;
    text-align: left;
    padding-left: 0;
    list-style-type: none;
  }
  &__title {
    display: inline-block;
    margin-right: 9px;
    text-align: center;
    &:nth-child(1) {
      .tabs__link {
        background-image: url('../img/icons/car-3.png');
        background-size: 16px 14px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &:nth-child(2) {
      .tabs__link {
        background-image: url('../img/icons/bus.png');
        background-size: 16px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &_active {
      .tabs__link {
        background: #0093da;
        border-color: transparent;
      }
      &:nth-child(1) {
        .tabs__link {
          background-image: url('../img/icons/car-2.png');
        }
      }
      &:nth-child(2) {
        .tabs__link {
          background-image: url('../img/icons/bus-2.png');
        }
      }
    }
  }
  &__link {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid $blue;
  }
  &__content {
    display: none;
    padding-bottom: 38px;

    &_active {
      display: block;
    }
  }
  &__text {
    margin-top: 6px;
    text-align: left;
    color: #3a3a3a;
    letter-spacing: 0.025em;
    font-size: 16px;
    font-family: 'PFDinTextPro-Thin';
  }
}
