.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'PFDinTextPro-Regular';
  letter-spacing: 0.025em;
  color: #3a3a3a;

  &_size {
    &_s {

    }
    &_m {
      font-size: 30px;
    }
    &_l {
      font-size: 36px;
    }
  }

  &_v2 {
    color: #fff;
  }
}
