.title {
  color: #222;
  font-family: 'TradeGothic';
  text-transform: uppercase;
  font-weight: 400;

  &_size {
    &_s {

    }
    &_m {

    }
    &_l {
      font-size: 64px;
      line-height: 60px;
    }
    &_xl {
      font-size: 80px;
      line-height: 88px;
    }
  }
}
