include ../link/link
+b.FOOTER.footer.__footer(role='contentinfo')
  +e.wrap
    +e.cols
      +e.col
        +link('Проектная документация', 'http://google.com')._size_m
        include ../social-share/social-share
      +e.col
        +e.address
          span
            | Наш адрес:
          | Московская обл., Ленинский район, с.п. Булатниковское, д. Жабкино
      +e.col
        +e.contacts
          +e.title
            | Телефон
          +e.tel
            | +7(495) 456-78-87
          +e.schedule
            | с 9.00 до 21.00
      +e.col
        +e.fz
          +button._theme_jk._size_m._view_rating
            | Рейтинг: #[span(class='num') 4,6]
          +e.A.fz-doc
            | Строительство по #[span ФЗ-214]
