+b.NAV.navbar
  +e.left
    +b.A.logo.__logo
    +e.SPAN.title
      | Новые ватутинки центральный квартал
  +e.center
    include ../nav/nav
  +e.right
    +e.contacts
      +e.info
        +e.tel
          | +7(495) 456-78-87
        +e.schedule
          | с 9.00 до 21.00
      +button('link', 'tel:+74954567887').__call
        +b.SPAN.icon._phone
      //- +e.A.phone(href='tel:+74954567887')
      //-   +b.SPAN.icon._phone
