include ../../libs/bemto/index
include ../page/page
include ../../utils/scripts

doctype html
html(lang='ru')
  include ../head/head
  +page
    block content
  +scripts([
    'https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js',
    'vendors/greensock/TweenMax.min.js',
    'vendors/owl.carousel.min.js',
    'vendors/jquery.magnific-popup.min.js',
    'main.js'
  ])
