+section._installments
  +e.wrap
    +e.container
      +b.H2.subtitle._size_m
        | Рассрочка
      +e.OL.list
        li
          | Первоначальный взнос 50%, остаток выплачивается ежемесячно равными частями без начисления % до 30 марта 2018 года
        li
          | Первоначальный взнос 70%, остаток выплачивается ежемесячно равными частями без начисления % до 30 марта 2018 года.  +  Скидка 2% на всю стоимость квартир
