+section._military
  +e.wrap
    +e.container
      +b.H2.subtitle._size_m
        | Военная ипотека
      +b.military-features
        +e.item
          +e.IMG.img(src='img/icons/pin.png')
          +e.SPAN.title
            | Процентная ставка
          +e.SPAN.description
            | От 20%
        +e.item
          +e.IMG.img(src='img/icons/watch.png')
          +e.SPAN.title
            | Срок кредитования
          +e.SPAN.description
            | До 45 лет
        +e.item
          +e.IMG.img(src='img/icons/money.png')
          +e.SPAN.title
            | Первоначальный взнос
          +e.SPAN.description
            | 2 600 000 руб
        +e.item
          +e.IMG.img(src='img/icons/concierge.png')
          +e.SPAN.title
            | Возраст заемщика
          +e.SPAN.description
            | До 30 лет
        +e.item
          +e.IMG.img(src='img/icons/case.png')
          +e.SPAN.title
            | Иные требования
          +e.SPAN.description
            | Гражданство - РФ. Стаж на последнем месте работы 4 мес.
      +e.P.text._left._size_s
        | Поможем подобрать квартиру в удобном для Вас районе и избежать ошибок, которые допускают 65% военнослужащих
      +e.UL.list
        li
          | Максимальный размер кредита - 4 600 000 млн. рублей
        li
          | Работаем со всеми банками, выдающими Военную ипотеку
