+section._payment
  +e.wrap
    +e.container
      +b.H2.subtitle._size_m
        | 100% оплата
      +e.P.text._left._size_s
        | При 100% оплате квартиры в микрорайоне “НОВЫЕ ВАТУТИНКИ” мы предлагаем покупателю самые выгодные условия:
      +e.UL.list
        li
          | скидка в размере 4% при 100% оплате (к 100% оплате приравниваются ипотечные покупатели, имеющие в момент обращения, одобрение банка)
        li
          | скидка 3% при приобретении квартиры по программе ипотека с господдержкой
        li
          | дополнительная скидка 1% при приобретении второй квартиры
