+section.filter
  +e.wrap
    +b.H1.title._size_l.__title
      | Квартиры в корпусе 3
    +e.SPAN.divider._blue
    +b.filter
      +e.row
        +e.item
          +button()._theme_jk._size_m._view_blue.__building
            | Корпус 1
          +button()._theme_jk._size_m._view_blue.__building
            | Корпус 2
          +button()._theme_jk._size_m._view_blue.__building
            | Корпус 3
          +button()._theme_jk._size_m._view_blue.__building
            | Корпус 4
          +button()._theme_jk._size_m._view_blue.__building
            | Корпус 5
          +b.select-menu
            +e.header
              +e.SPAN.title
                | Все корпуса
              +e.BUTTON.button
                +e.SPAN.icon
            +e.body
              +e.LABEL.label(for='opt1')
                | Корпус 1
                +e.INPUT.input(type='radio' name='drop' value='Корпус 1' id='opt1')
              +e.LABEL.label(for='opt2')
                | Корпус 2
                +e.INPUT.input(type='radio' name='drop' value='Корпус 2' id='opt2')
              +e.LABEL.label(for='opt3')
                | Корпус 3
                +e.INPUT.input(type='radio' name='drop' value='Корпус 3' id='opt3')
              +e.LABEL.label(for='opt4')
                | Корпус 4
                +e.INPUT.input(type='radio' name='drop' value='Корпус 4' id='opt4')
      +e.row
        +e.item._buildings
          +b.building-section._big
            +e.title
              | Секция 2
            +e.upper
              +e.brick._2
              +e.brick._3
              +e.brick._4
            +b.TABLE.building-apartments
              +e.TBODY
                +e.TR
                  +e.TH
                    | 22
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 21
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 20
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 19
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 18
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 17
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 16
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 15
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 14
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 13
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 12
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 11
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 10
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 9
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 8
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 7
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 6
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 5
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 3
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
                +e.TR
                  +e.TH
                    | 2
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                  +e.TD
                    | Ст
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 3
                  +e.TD
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | Ст
            +e.lower
              +e.brick._1
          +b.building-section._small
            +e.title
              | Секция 3
            +e.upper
              +e.brick._2
              +e.brick._3
              +e.brick._4
            +b.TABLE.building-apartments
              +e.TBODY
                +e.TR
                  +e.TH
                    | 16
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 15
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 14
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 13
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 12
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 11
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 10
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 9
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 8
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 7
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 6
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 5
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 4
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 3
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
                +e.TR
                  +e.TH
                    | 2
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD.empty
                +e.TR
                  +e.TH
                    | 1
                  +e.TD
                    | 1
                  +e.TD.empty
                  +e.TD
                    | 2
                  +e.TD
                    | 3
            +e.lower
              +e.brick._1

      +e.row
        +e.item
          +e.rooms
            +e.head
              | Комнатность
            +e.room._active
              | Ст
            +e.room
              | 1
            +e.room
              | 2
            +e.room
              | 3
            +e.room
              | 4
            +e.room
              | 5

        +e.item
          +e.wrap
            +e.head
              | Площадь, кв.м
            +e.slider._square#sliderSquare
        +e.item
          +e.wrap
            +e.head
              | Площадь, млн. руб.
            +e.slider._price#sliderPrice
