+b.tooltip
  +e.wrap
    +e.list._left
      +e.item._v1
        +e.SPAN.text
          | Машиноместо в подарок
      +e.item._v1
        +e.SPAN.num
          | 0%
        +e.SPAN.text
          | Рассрочка при строительстве
      +e.item._v1
        +e.SPAN.num
          | 15%
        +e.SPAN.text
          | Военная ипотека
    +e.list._right
      +e.item._v2
        +e.SPAN.img
        +e.SPAN.text
          | Новое фото строительства
