head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(content='telephone=no', name='format-detection')
  meta(name='HandheldFriendly', content='true')

  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='address=no')

  meta(name='google' content='notranslate')

  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

  meta(name='mobile-web-app-capable' content='yes')

  block head
  title= pageTitle || ''
  meta(name='description', content= pageDescription || '')

  meta(property='og:title', content='feedly: organize, read and share what matters to you.')
  meta(property='og:url', content='http://feedly.com/index.html')
  meta(property='og:site_name', content='feedly')
  meta(property='og:description', content='Feedly connects you to the information and knowledge you care about. We help you get more out of you work, education, hobbies and interests. The feedly platform lets you discover sources of quality content, follow and read everything those sources publish with ease and organize everything in one place.')
  meta(property='og:image', content='http://s3.feedly.com/img/feedly-512.png')

  link(rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16")
  link(rel="manifest" href="/img/favicons/manifest.json")
  link(rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#2bb24c")
  meta(name="theme-color" content="#ffffff")

  link(rel='stylesheet', href='css/style.css')
